node_modules

# Output
.output
.vercel
.netlify
.wrangler
/build

.venv/
.idea/
.vscode/
.svelte-kit/
build/
node_modules/
dist/

# OS
.DS_Store
Thumbs.db

# Env
.env
.env.*
!.env.example
!.env.test

# Vite
vite.config.js.timestamp-*
vite.config.ts.timestamp-*

# 文件
.zip
.rar
.xlsx
.docs
.pdf
.map
.db
.lcl
.log
